:root {
    --primary-color: #5967F6;
    --dark-color: #0D131B;
    --light-color: #D9EBF2;
    --secondary-dark-color: #1F252E;
    --secondary-light-color: #394960;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Tw Cen MT';
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: row;

    background: var(--secondary-dark-color);
    color: var(--light-color);
}

.NavSideBar{
    display: flex;
    flex-direction: column;

    padding: 2em;
    row-gap: 2em;

    background: var(--dark-color);
    width: fit-content;
    height: 100%;
    overflow-y: auto;
}

.NavSideBarLogo {
    display: flex;
    flex-direction: row;
}

.NavSideBarLogo > a{
    display: inline-flex;
    column-gap: 1em;
    align-items: center;

    text-decoration:none;
    text-transform:uppercase;

    color: var(--light-color);
    font-size: 1.5em;
}

.NavSideBarLinks {
    display: flex;
    flex-direction: column;
    
    row-gap: 0.5em;
}

.NavSideBarLinks > a{
    display: inline-flex;
    column-gap: 1em;
    align-items: center;

    text-decoration:none;
    color: var(--secondary-light-color);
}

.NavSideBarLinks > a:hover{
    color: var(--primary-color);
}

.NavSideBarConfig {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
    width: fit-content;
    background: none;
    color: var(--secondary-light-color);
}

.NavSideBarConfig:hover{
    color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    border-bottom: 1px solid #333;
    width: 100%; 
    position: fixed; 
    top: 0; 
   
}

    
    .header input {
        padding: 5px;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: #333;
        color: #fff;
        margin-right: 5px;
        flex-grow:0.4; 
    }

    
    .header .menu-icon {
        font-size: 20px;
        cursor: pointer;
        color: #fff;
    }
    .header .add-icon {
        font-size: 20px;
        cursor: pointer;
        color: #fff;
    }



.content {
    padding: 20px;
    margin-top: 60px; 
}

.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.panel {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
}

    .panel h2 {
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .panel p {
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .panel .button {
        background-color: #007bff;
        color: #fff;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }


.content {
    padding: 20px;
}
}

.pageYards{
    padding: 0.5em 0.5em;
}

.containerComponentsYard{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-gap:1em;
    row-gap: 1em;
}

.componentYardContainer {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    padding: 1em 2em;
    background: var(--dark-color);
    width: fit-content;
    border-radius: 10pt;
}

.componentYardVehicles{
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 0.5em;
}

.componentYardVehicles > p {
    margin: 0;
}

.componentYardVehicles > span{
    font-size: 2em;
    margin:0;
}

.componentYardInfo{
    display:flex;
    flex-direction: column;
}

.componentYardInfo > p {
    display: inline-flex;
    align-items: flex-end;

    column-gap: 1em;
    margin:0;
}

.componentYardInfo > p > span{
    font-size: 0.7em;
    color: var(--secondary-light-color);
    width: fit-content;
}