@{
    ViewData["Title"] = "Home Page";

    <link rel="stylesheet" href="./css/site.css" />

    <!DOCTYPE html>
    <html>
    <head>
        <title>Meu Projeto MVC</title>
        <link rel="stylesheet" href="~/Content/style.css" />
    </head>
    <body>
        <div class="header">
            <input type="text" placeholder="Search" />
            <span class="menu-icon">☰</span>
            <span class="add-icon">+</span>
        </div>
        <div class="dashboard">
            <div class="panel">
                <h2>24 Yards Actives</h2>
                <p>View All</p>
            </div>
            <div class="panel">
                <h2>1053 Vehicles</h2>
                <p>View All</p>
            </div>
            <div class="panel">
                <h2>304 Costumers</h2>
                <p>View All</p>
            </div>
            <div class="panel">
                <h2>1730 Rentals Completed</h2>
                <p>View All</p>
            </div>
        </div>
        <div class="content">
         
        </div>
    </body>
    </html>
}



<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
